body {
  margin: 0;
  padding: 0;

  background-size: cover;
  font-family: "Comic Sans MS", cursive, sans-serif;
  transition: background-color 1s ease;
}

.dialog-box {
  background-color: rgba(255, 255, 255, 0.9);
  border: 3px solid #000;
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#dialog-text {
  font-size: 18px;
  margin-bottom: 10px;
}

#next-btn {
  background-color: #ff69b4;
  transition: all 0, 3s ease;
  color: white;
  transform: scale(1);
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#next-btn:hover {
  background-color: #ff1493;
  transform: scale(1.05); /* Agranda el botón */
}

#next-btn:active {
  transform: rotateX(15deg) scale(0.95);
}

#f1 {
  max-width: 400px;
  max-height: 400px;
}


.my-card {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  width: 30vw;
  max-width: 90%;
  
}

.img-fluid {
  display: block;
  max-width: 30vw;
  width: 30vw;
  border: 2px solid black;
  object-fit: cover; /* o contain,
   según cómo quieras que se recorte */
   box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* style="max-height: 50vh; min-width: 20vw; object-fit: contain;"  */
